@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

/* my style css for custom css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Kufi Arabic" , 'system-ui';
  direction: rtl;

}

label{
  color:#1c0950 !important;
}

:root {
  --main-color: rgb(26, 93, 180);
  --second-color: rgb(185, 15, 157);
  --red-color: rgb(197, 22, 22);
  --green-color: rgb(5, 200, 5);
  --yellow-color: rgb(220, 220, 10);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --dark-color: rgb(40, 40, 40);
  --eee-color: #eee;
  --ddd-color: #ddd;
}

input[placeholder] {
  font-size: 12px;
  padding: 8px 10px;
}

.my-button {
  width: 30px;
  height: 30px;
  border-radius: 25%;
  margin: 8px 5px;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.mycolor {
  color: var(--main-color);
}

.bg-mycolor {
  background-color: var(--main-color);
}

body {
  background-color: #f3f3f3;

}
.group{
  padding: 10px 0px;
  margin: 5px 0px;
}



/* login css */

.login-page{
  width: 80%;
  display: flex;
  margin: 100px;
  justify-content: center;
  align-items: center;
}
.login-image{
width: 55%;
}
.login-image img{
width: 100%;
}
.login-form{
  margin-top:-20px;
  margin-right: -40px;
  width: 55%;
}
.login-title{
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  color:#1c0950 !important;
}
.login{
  box-shadow: 0 0 5px 2px #f1c96e;
  border-radius: 7px;
  background-color: #fff;
  padding: 30px;
}
.login-text{
  text-align: center;
  font-weight: bold;
  color:#1c0950 !important;
}
.login-footer{
  text-align: center;
}
.group label{
  padding: 5px;
}

.login .group input:focus{
  border: 1px solid #f1c96e;
  box-shadow: 0 0 3px 1px #f1c96e;
}


/* login css */

.page {
  width: 100%;
  min-height: 80vh;
}

.required {
  color: var(--red-color);
  font-size: 18px;
  font-weight: 500;
}
