@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family:   'Arial' !important;
    direction: rtl;
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    padding: 30px;
}
.header{

}
.content{
    margin: 0 0 20px;
}
.top-right {
    display: block;
    width: 100%;
    text-align: right;
    font-weight: 600;
}

.top-center {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 25px 0;
}
.conditions{

}
.conditions .cond{
    padding: 5px;
    word-spacing: 2px;
}
.mad{
    margin: 10px 5px;
    word-spacing: 2px;
}
.footer{
    margin-top:75px ;
    display: flex;
    flex-direction: column;
}
.left{
float: left;
}
.underline{
    margin: 0 5px;
    border-bottom: 1px dotted #000;
    padding-bottom: 2px;
}
.sect{
    height: 33% !important;
    width:100%;
    padding: 0 10px;
}